/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

 .offer-content{
   width:100%;
   margin:2% -6%;
}
.offer .offer-box{
    display:flex;
    padding-left:10em;
    margin:2em 5em;
    position: relative;
   
}

.offer-serv{
    display: block;
    position: relative;
}

.offer-serv::after{
    position: absolute;
    content:"";
    width:10%;
    height:0%;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
     background-color:black; 
    opacity: 0; 
    
}
 .offer-serv:hover:after{
     width: 100%;
     height: 100%;
     opacity: 0.4;
     transition: 1s;
     -webkit-transition: 1s;
     -moz-transition: 1s;
     -ms-transition: 1s;
     -o-transition: 1s;
}


.offer .offer-content .offer-serv i{
display: inline;
   color: #3a6cf4;
   font-size:26px;
  
}
.offer .offer-conten .offer-serv .offer-text{
    flex:1;
    padding:0 2em;

}
.offer .offer-content .offer-serv .offer-text h3{
  font-size:1.5em;
font-weight: 900;
   margin:-7% 20%;
    color:black;
    text-transform: capitalize;
    

}
.offer .offer-content .offer-serv .offer-text p{
    color:#444;
    font-weight: 300;
    line-height: 1.8;
    padding:0 4%;
    margin:8% 15%;
}

/* end what we offer */

/* End offer  */